@import '../../assets/stylesheets/application';
@import '../../assets/stylesheets/tools';
@import "materialize-css/sass/components/_color-variables";
$primary-color: #8914ad !default;
$secondary-color: #4db6ac !default;
@import 'node_modules/materialize-css/sass/materialize.scss';

body, html {
  height:100%;
  background-color: #eeeeee;
}

.main-cont {
  min-height: 660px;
}

.btn-default {
  color: #000000 !important;
  background-color: #eeeeee !important;
}

.sidebar {
  transform: translateX(0px);
  position: relative;
  width: inherit;
}

.allow-overflow {
  overflow: auto;
}

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
  max-height: 58%;
}

.card .card-content .card-title {
  font-size: 1.5rem;
}

.login-mobile{
  position: absolute;
  bottom: 60px;
}

.traffic-light-gradient {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,255,0,1) 53%, rgba(0,255,132,1) 93%);
}

.traffic-light {
  .small-light {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .medium-light {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .large-light {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
}

@media (max-width: 600px) {

}
@media (min-width: 601px) and (max-width: 992px) {

}
@media (min-width: 993px) and (max-width: 1200px) {

}
@media (min-width: 1201px) {

}
