//////////////////////// FONT WEIGHT ////////////////////////
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-1000 {
  font-weight: 1000;
}

.fw-b {
  font-weight: bold;
}

//////////////////////// FONT SIZE ////////////////////////

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px !important;
  ::-webkit-input-placeholder {
    font-size: 12px !important;
  }
  ::-moz-placeholder {
    font-size: 12px !important;
  } /* Firefox 19+ */
  :-moz-placeholder {
    font-size: 12px !important;
  }  /* Firefox 18- */
  :-ms-input-placeholder {
    font-size: 12px !important;
  } /* IE */
}


.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

//////////////////////// PADDING ////////////////////////

.p-0 {
  padding: 0px !important;
}

.p-3 {
  padding: 3px;
}

.p-5 {
  padding: 5px;
}

.p-8 {
  padding: 8px !important;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.p-50 {
  padding: 50px;
}

.p-60 {
  padding: 60px;
}

.p-70 {
  padding: 70px;
}

.p-80 {
  padding: 80px;
}

.p-90 {
  padding: 90px;
}

.p-100 {
  padding: 100px;
}

//////////////////////// PADDING TOP ////////////////////////
.pt-0 {
  padding-top: 0px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-250 {
  padding-top: 250px;
}

//////////////////////// PADDING RIGHT ////////////////////////
.pr-0 {
  padding-right: 0px;
}

.pr-3 {
  padding-right: 3px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-100 {
  padding-right: 100px;
}

//////////////////////// PADDING LEFT ////////////////////////
.pl-0 {
  padding-left: 0px;
}

.pl-3 {
  padding-left: 3px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-100 {
  padding-left: 100px;
}

//////////////////////// PADDING BOTTOM ////////////////////////
.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 1px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

//////////////////////// MARGIN ////////////////////////
.m-0 {
  margin: 0px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-40 {
  margin: 40px;
}

.m-50 {
  margin: 50px;
}

.m-60 {
  margin: 60px;
}

.m-70 {
  margin: 70px;
}

.m-80 {
  margin: 80px;
}

.m-90 {
  margin: 90px;
}

.m-100 {
  margin: 100px;
}

//////////////////////// MARGIN TOP ////////////////////////

.mt--4 {
  margin-top: -4px;
}

.mt--8 {
  margin-top: -8px;
}

.mt--10 {
  margin-top: -10px;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}
//////////////////////// POSITION TOP ////////////////////////

.t--4 {
  top: -4px;
}

.t--8 {
  top: -8px;
}

.t--10 {
  top: -10px;
}

.t-0 {
  top: 0px !important;
}

.t-4 {
  top: 4px;
}

.t-6 {
  top: 6px;
}

.t-8 {
  top: 8px;
}

.t-10 {
  top: 10px;
}

.t-17 {
  top: 17px;
}

.t-20 {
  top: 20px;
}

.t-25 {
  top: 25px;
}

.t-30 {
  top: 30px;
}

.t-40 {
  top: 40px;
}

.t-50 {
  top: 50px;
}

.t-60 {
  top: 60px;
}

.t-65 {
  top: 65px;
}

.t-70 {
  top: 70px;
}

.t-80 {
  top: 80px;
}

.t-90 {
  top: 90px;
}

.t-100 {
  top: 100px;
}
//////////////////////// MARGIN RIGHT ////////////////////////
.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

//////////////////////// MARGIN LEFT ////////////////////////
.ml-10 {
  margin-left: 10px;
}

.ml-17 {
  margin-left: 17px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

//////////////////////// MARGIN BOTTOM ////////////////////////
.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

//////////////////////// HEIGHT ////////////////////////
.h-30 {
  height: 30px;
}

.h-38 {
  height: 38px;
}

.h-40 {
  height: 40px;
}

.h-50 {
  height: 50px;
}

.h-70 {
  height: 70px;
}

.h-100 {
  height: 100px;
}

.h-150 {
  height: 150px;
}

.h-200 {
  height: 200px;
}

.h-250 {
  height: 250px;
}

.h-300 {
  height: 300px;
}

.h-400 {
  height: 400px;
}

.h-450 {
  height: 450px;
}

.h-500 {
  height: 500px;
}

.h-600 {
  height: 600px;
}

.h-700 {
  height: 700px;
}

.h-800 {
  height: 800px;
}

.h-900 {
  height: 900px;
}

.h-1000 {
  height: 1000px;
}

//////////////////////// MIN HEIGHT ////////////////////////
.mh-30 {
  min-height: 30px;
}

.mh-38 {
  min-height: 38px;
}

.mh-40 {
  min-height: 40px;
}

.mh-50 {
  min-height: 50px;
}

.mh-70 {
  min-height: 70px;
}

.mh-100 {
  min-height: 100px;
}

.mh-150 {
  min-height: 150px;
}

.mh-200 {
  min-height: 200px;
}

.mh-250 {
  min-height: 250px;
}

.mh-300 {
  min-height: 300px;
}

.mh-400 {
  min-height: 400px;
}

.mh-450 {
  min-height: 450px;
}

.mh-500 {
  min-height: 500px;
}

.mh-600 {
  min-height: 600px;
}

.mh-700 {
  min-height: 700px;
}

.mh-800 {
  min-height: 800px;
}

.mh-900 {
  min-height: 900px;
}

.mh-1000 {
  min-height: 1000px;
}
//////////////////////// MAX max-width ////////////////////////
.mw-50 {
  max-width: 50px;
}

.mw-100 {
  max-width: 100px !important;
}

.mw-200 {
  max-width: 200px;
}

.mw-300 {
  max-width: 300px;
}

.mw-400 {
  max-width: 400px;
}

.mw-500 {
  max-width: 500px;
}

.mw-600 {
  max-width: 600px;
}

.mw-700 {
  max-width: 700px;
}

.mw-800 {
  max-width: 800px;
}

.mw-900 {
  max-width: 900px;
}

.mw-1000 {
  max-width: 1000px;
}
//////////////////////// WIDTH ////////////////////////
.w-50 {
  width: 50px;
}

.w-100 {
  width: 100px !important;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}

.w-400 {
  width: 400px;
}

.w-500 {
  width: 500px;
}

.w-600 {
  width: 600px;
}

.w-700 {
  width: 700px;
}

.w-800 {
  width: 800px;
}

.w-900 {
  width: 900px;
}

.w-1000 {
  width: 1000px;
}

//////////////////////// WIDTH PERCENT ////////////////////////
.wp-10 {
  width: 10%;
}
.wp-20 {
  width: 20%;
}
.wp-30 {
  width: 30%;
}
.wp-40 {
  width: 40%;
}
.wp-50 {
  width: 50%;
}
.wp-60 {
  width: 60%;
}
.wp-70 {
  width: 70%;
}
.wp-80 {
  width: 80%;
}
.wp-90 {
  width: 90%;
}
.wp-100 {
  width: 100% !important;
}

//////////////////////// HEIGHT PERCENT ////////////////////////
.hp-10 {
  height: 10%;
}
.hp-20 {
  height: 20%;
}
.hp-30 {
  height: 30%;
}
.hp-40 {
  height: 40%;
}
.hp-50 {
  height: 50%;
}
.hp-60 {
  height: 60%;
}
.hp-70 {
  height: 70%;
}
.hp-80 {
  height: 80%;
}
.hp-90 {
  height: 90%;
}
.hp-100 {
  height: 100% !important;
}

//////////////////// BORDERS ////////////////////

.border {
  border: 1px solid;
}

.border-right-2 {
  border-right: 2px solid;
}

.border-top {
  border: 5px solid;
}

.br-0 {
  border-radius: 0px;
}

.br-5 {
  border-radius: 5px;
}

.br-15 {
  border-radius: 15px;
}

//////////////////// MISELANIUS //////////////////////
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.pointer {
  cursor: pointer;
}

.border-dashed {
  border: 1px dashed rgba($color: #000000, $alpha: 0.3)
}

.non-style {
  list-style: none;
  line-height: 1.5;
  padding-left: 0px;
}

.underline {
  border-bottom: 1px solid black;
}

.center {
  margin: 0 auto;
}

.centered {
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
}

.no-content {
  content: ''
}

.no-overflow {
  overflow: hidden;
}

.scroll-infinite {
  max-height: 200px;
  height: 300px;
  overflow: auto;
}

/////////// LOADER SPINNER
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes intermittent-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  animation: spin 1s linear infinite;
}

.intermittent-fade {
  animation: intermittent-fade 1s linear infinite;
}

.collapse.in.collapse-row {
  display: table-row;
}


.tbody-color {
  color: #484a7d;
}